@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: #b8cfec;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 1s;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Nothing You Could Do', cursive;
}

.topnav a.active {
    float: left;
    background-color: #b8cfec;
    color: black;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 15px;
    text-decoration: underline;
    /* font-weight: bold; */
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    /* text-decoration: underline; */
    color: black;
}

.about-section {
    overflow: hidden;
    /* background-color: white; */
    height: 100vh;
    /* height: calc(100vh - 54.5px); */
    background-image: linear-gradient(#b8cfec, #f8e8ed);
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
}

.bio {
    align-items: left;
}

.column {
    width: 40%;
    padding: 10px;
}


/* .social {
    padding: 20px;
} */

.about-section:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:768px) {
    .about-section {
        flex-flow: column nowrap;
    }
    .cards {
        flex-flow: column nowrap;
    }
}

#portrait {
    display: block;
    margin: auto;
    /* text-align: center; */
    /* display: flex;
    justify-content: center; */
    width: 50%;
    /* place-items: center;
    margin-left: auto;
    margin-right: auto; */
}

p,
ul {
    font-size: 17px;
    font-family: 'Nothing You Could Do', cursive;
}

.social-icon {
    color: rgb(136, 134, 134);
    font-size: 20px;
    transition: color 0.2s;
    text-decoration: none;
}

.social-icon:hover {
    color: black;
}

.projects-section {
    overflow-x: hidden;
    position: relative;
    background-image: linear-gradient( #f8e8ed, #d4f0f7);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
}

.flip-card {
    margin: 20px;
}

.contact-section {
    overflow-x: hidden;
    position: relative;
    /* background-color: whitesmoke; */
    background-image: linear-gradient( #d4f0f7, #d0d5f7);
    height: 94vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}


/* .projects-section img {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#rocket1 {
    width: 10%;
    height: auto;
    bottom: 40%;
    left: 15%;
}

#ship1 {
    width: 10%;
    height: auto;
    bottom: 30%;
    left: 30%;
}

#rocket2 {
    width: 10%;
    height: auto;
    bottom: 50%;
    left: 45%;
}

#ship2 {
    width: 10%;
    height: auto;
    bottom: 60%;
    left: 60%;
} */


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    color: black;
}


/* Style the back side */

.flip-card-back {
    color: black;
    transform: rotateY(180deg);
    background-image: url("images/box.png");
    background-size: 300px;
    background-repeat: no-repeat;
}


/* Style the button that is used to open and close the collapsible content */

.column2 {
    width: 70%;
}

.collapsible {
    background-image: url("images/long-box.png");
    background-size: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-color: transparent;
    color: black;
    margin: 10px;
    width: 100%;
    padding: 1px;
    border: none;
    /* border-radius: 10px;
    border-color: #ccc; */
    /* border-style: dashed; */
    cursor: pointer;
    text-align: middle;
    outline: none;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* .active,
.collapsible:hover {
    background-color: #ccc;
} */


/* Style the collapsible content. Note: hidden by default */

.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    text-align: middle;
}