@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet');
body {
    margin: 0;
    padding: 0;
}


/* fonts */

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
}

h2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
}

li,
p {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 17px;
}

.section {
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
}


/* about section */

#about {
    background-image: linear-gradient(#b8cfec, #f8e8ed);
}

.about-col {
    width: 50%;
}

#portrait {
    margin: auto;
    display: block;
    width: 50%;
}

.social-icon {
    color: black;
    font-size: 25px;
    transition: color 0.2s;
    text-decoration: none;
}

.social-icon:hover {
    color: rgb(136, 134, 134);
}

@media screen and (max-width:768px) {
    #about {
        flex-flow: column nowrap;
        text-align: center;
    }
    .about-col {
        width: 70%;
    }
    li,
    p {
        font-size: 15px;
    }
}


/* project section */

#projects {
    background-image: linear-gradient( #f8e8ed, #d4f0f7);
    flex-direction: column;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /* perspective: 1000px; */
    margin: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-img {
    width: 300px;
    height: 200px;
}

.flip-card-back {
    transform: rotateY(180deg);
    background-image: url("images/box.png");
    background-size: 300px;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .flip-card {
        background-color: transparent;
        width: 150px;
        height: 100px;
        margin: 0px;
    }
    .project-img {
        width: 150px;
        height: 100px;
    }
    .flip-card-back {
        background-size: 150px;
    }
}


/* experience section */

#experiences {
    background-image: linear-gradient( #d4f0f7, #d0d5f7);
    flex-direction: column;
}

.experience-container {
    width: 70%;
}

.collapse {
    background-size: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-color: transparent;
    color: black;
    margin: 10px;
    width: 100%;
    padding: 1px;
    border: none;
    cursor: pointer;
    text-align: middle;
    outline: none;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 20px;
}

#work {
    background-image: url("images/work-box.png");
}

#edu {
    background-image: url("images/edu-box.png");
}

.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    text-align: middle;
}

@media screen and (max-width:768px) {
    #work,
    #edu {
        background-image: none;
        border-style: solid;
    }
}


/* skills section */

#skills {
    background-image: linear-gradient( #d0d5f7, #b8cfec);
    flex-direction: column;
}

.skill-container {
    display: flex;
}

.skill-card {
    margin: 10px;
    width: 120px;
    background-image: url("images/skill-box.png");
    background-size: 100%;
    text-align: center;
    height: 105%;
}

@media screen and (max-width:768px) {
    #skills {
        display: flex;
        flex-wrap: wrap;
    }
    .skill-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .skill-card {
        background-image: url("images/skill-box.png");
        height: 265px;
    }
}